html, body { height: 100%; }

#page { border: 1px solid black; height: 100%; }
	#navig { border: 1px solid black; }
		#navig ul { }
			#navig ul li { display: inline; }
	
	#main { margin-left: 250px; border: 1px solid red; }
	
	#left-menu { border: 2px solid black; width: 250px; float: left; }
		#left-menu #test { border: 3px solid purple; height: 200px; }
	
