Options +FollowSymLinks +ExecCGI

php_flag magic_quotes_gpc off
php_flag register_globals off

DirectoryIndex index.php

RewriteEngine On

RewriteCond %{REQUEST_URI} \..+$
RewriteRule .* - [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [QSA,L]